<html>

<head>
  <title> Health Care </title>

  <link href="static/style.css" rel="stylesheet">

</head>

<body>


  <div class="logo">
    <div>
      <table>
        <tr>
          <td width="600px" style="font-size:50px;font-family:forte;">
            <font color="#428bca"> Health </font>
            <font color="#000"> Care</font>
          </td>
          <td> <br> <br>
            <font size="4px">
              <a href="{{ url_for('home') }}">HOME</a>
							<a href="{{ url_for('about') }}">ABOUT US</a>
							<a href="{{ url_for('index') }}">SERVICE</a>
							<a href="{{ url_for('contact') }}">CONTACT US</a>
            </font>
          </td>
        </tr>
      </table>
    </div>
  </div>



  <div class="bottom">
    <div>
      <table border="0">
        <tr>
          <td width="700px">
            <font color="#000"> Welcome to Health Care </font> <br> <br>

            <font color="#000" size="6px"> Medicine Prediction & Disease Identification </font><br>
            <font color="#000" size="4px">Based on the symptoms provided by the user. </font><br> <br>

            We identify the pattern and relationship between different attributes and diseases based on the data that
            can lead to<br>
            <ul>
              <li>Better Medicines</li>
              <li>Better Treatment</li>
              <li>Prediction of chances of disease which lead to taking preventive measures before the situation becomes
                critical.</li>
              <li>Reduce the waiting time of patients.</li>
            </ul><br><br>
            For that, we work in two-phases
            <ul>
              <li>In the first phase we predict the disease from the different symptoms of patients</li>
              <li>In the second phase we predict the prescription for the predicted disease.</li>
            </ul>
            <br>
          </td>


          <td style="padding-left:20px;"> <img src="static/about.jpg" width="400px"></td>
        </tr>


      </table>
    </div>
  </div>

  <div class="bottom">
    <div>
      <table border="0">
        <tr>
          <td width="700px">
            <font color="#000">Created By: </font> <br> <br>

            <font color="gray" size="4px">
              Pratyush Khare 
            </font>


            <br>
          </td>


          <td style="padding-left:20px;"> </td>
        </tr>


      </table>
    </div>
  </div>
  </div>