<html>

<head>
  <title> Health Care </title>

  <link href="static/style.css" rel="stylesheet">

</head>

<body>

  <div class="logo">
    <div>
      <table>
        <tr>
          <td width="600px" style="font-size:50px;font-family:forte;">
            <font color="#428bca">Health </font>
            <font color="#000">Care</font>
          </td>
          <td> <br> <br>
            <font size="4px">
              <a href="{{ url_for('home') }}">HOME</a>
							<a href="{{ url_for('about') }}">ABOUT US</a>
							<a href="{{ url_for('index') }}">SERVICE</a>
							<a href="{{ url_for('contact') }}">CONTACT US</a>
            </font>
          </td>
        </tr>
      </table>
    </div>
  </div>





  <div class="bottom">
    <div>
      <table border="0">
        <tr>
          <td width="700px">


            <font color="#000" size="6px"> CONTACT US </font> <br> <br>

            Health Care Center

            <br>
            <br>

            Mob : +91 xxxxxxxxxx

            <br>
            <br>

            Email : nevergiveup24.786@gmail.com

            <br>
            <br>
            <br>
          </td>


          <td style="padding-left:20px;"> </td>
        </tr>


      </table>
    </div>
  </div>
  </div>