<html>
<head>
	<title> Health Care </title>
	
	<link href="static/style.css" rel="stylesheet">
	
</head>
<body>

	
	<div class="logo">
		<div>
			<table>
				<tr>
					<td width="600px" style="font-size:50px;font-family:forte;"> <font color="#428bca"> Health </font><font color="#000"> Care</font> </td>
					<td> <br> <br>
						<font size="4px"> 
							<a href="{{ url_for('home') }}">HOME</a>
							<a href="{{ url_for('about') }}">ABOUT US</a>
							<a href="{{ url_for('index') }}">SERVICE</a>
							<a href="{{ url_for('contact') }}">CONTACT US</a>
						</font>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="middle">
		<div style="background-image:url('static/a.jpg');">
		<p>
			<br> <br>
					Health Care Services  <br>
			<font size="5px"> We Care About Your Health </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are medical center </font> <br> <br>

					<font color="#000" size="5px"> We are here for You! </font> <br> <br>
            Life is the biggest asset that one has but today we have lots of diseases that can take the biggest asset from you. Knowing about the diseases and getting the proper treatment on time is the only key to good health for patients. <br><br>
We are here to protect your asset from the world of diseases, we try to provide
<ul>
<li>Better Medicines
<li>Better Treatment 
<li>Prediction of chances of disease which lead to taking preventive measures before the situation becomes critical.
</ul>
<br>
</td>
				</tr>
			
				
			</table>
		</div>
	</div>